<img
  class="avatar"
  [src]="preview()"
  alt=""
/>
<div
  dnd
  class="dropzone"
  tabindex="0"
  (keyup.enter)="fileDrop.click()"
  (fileDropped)="onFileDropped($event)"
>
  <div class="dropzone-content">
    <svg icon="upload"></svg>
    <span class="medium-text">
      Перетащите изображение или
    </span>
    <span>
      Загрузите
    </span>
  </div>
  <input
    class="avatar-input"
    tabindex="-1"
    type="file"
    #fileDrop
    (change)="fileBrowserHandler($event)"
    [(ngModel)]="avatar"
  />
</div>
