:host {
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  padding: 12px;
  align-items: center;
}

.subscriber-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  &.profile-header {
    width: 112px;
    height: 112px;
    border-radius: 50%;
  }
}

.subscriber-icon {
  width: 14px;
  height: 14px;
}

