/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import "fonts";
@import "margins";

:root {
  --bg-color: #151515;
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --gray-color: #5F646D;
  --hover-bg-color: #161616;
  --light-transparent-color: rgba(255,255, 255, 0.75);
}

body {
  height: 100dvh;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  color: var(--light-color);
  background: var(--bg-color);
  background-image: url(/assets/images/background.png);
  background-repeat: repeat-y;
  background-position: right top;
}

.skill-tag {
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 4px;
  height: 24px;
}

.btn {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}

.btn-shadow {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}

.h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 46px;
}

.h4 {
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
}

.h6 {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.medium-text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  font-style: normal;
}

.tt-control-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  display: block;
}

.tt-input {
  width: 100%;
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  color: var(--light-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: "JetBrains Mono", sans-serif;
  box-sizing: border-box;
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tt-form-label__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: var(--light-transparent-color);
}

.tt-form-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  background: none;
  border: none;
  border-bottom: 1px solid var(--light-color);
  height: 33px;
  color: var(--light-color);

  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}

.tt-textarea {
  height: 84px;
  resize: none;
}
