<img
  class="ml16 mb20"
  src="/assets/images/svg/Logo-Tik-Talk.svg"
  alt=""
/>

<nav class="mb20">
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <button class="menu-item">
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </button>
    </li>
  </ul>
</nav>

@for (profile of subscribers$ | async; track profile.id) {
  @if ($first) {
    <p class="medium-text mb20">Подписчики</p>
  }
  <app-subscriber-card
    [profile]="profile"
  >
  </app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a
    class="to-subscriber-link medium-text"
    routerLink=""
  >
    <span>Все подписчики</span>
    <svg
    class="to-subscriber-icon"
    icon="arrow"
    >
    </svg>
  </a>
</div>

@if (me(); as me) {
  <footer class="sidebar-footer">
      <app-subscriber-card
        icon="settings"
        [profile]="me"
      >
      </app-subscriber-card>
  </footer>
}
